* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body {
    height:100%;
    width:100%;
}
#main {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
    background-color:rgb(186, 234, 186);
}
#panel {
    height:90%;
    width:90%;
    background-color:#fff;
    border-radius:10px;
    overflow:hidden;
}
#ptop {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100px;
    background-color:rgb(8, 109, 8);
}
.box {
    color:rgb(8, 109, 8);
    font-weight:700;
    font-size:25px;
    padding:10px 20px;
    border-radius:5px;
    background-color:#fff;
}
.elem {
    display:flex;
    align-items:center;
    gap:20px;
}
#pbtm {
    padding:20px;
    width: 100%;
    height: calc(100% - 100px);
    flex-wrap:wrap;
    display:flex;
    gap:10px;
}
.bubble {
    display:flex;
    align-items:center;
    justify-content:center;
    height:20px;
    width:20px;
    border-radius:50%;
    background-color:rgba(8, 109, 8);
    color:#fff;
}
.bubble:hover {
    cursor:pointer;
    background-color:rgb(145, 235, 145);
}